<div ng-model="search" style="padding-top:50px;">
<form class="form-inline">
    <br><br><br><br><br><br><br><br>
    <label>Nombre:</label>
    <input type="text" ng-model="search.nombre" class="filter form-control" />
    <label>Temporada</label>
    <select class="form-control" ng-init="temporadas=['','1','2','3','4','5','6','7','8']" ng-model="search.temporada">
      <option ng-repeat="temporada in temporadas" value="{{temporada}}">{{temporada}}</option>
    </select>
    <label>Capitulo</label>
    <select class="form-control" ng-init="capitulos=['','1','2','3','4','5','6','7','8','9','10']" ng-model="search.capitulo">
      <option ng-repeat="capitulo in capitulos" value="{{capitulo}}">{{capitulo}}</option>
    </select>
    <button class="btn btn-danger" id="reset" ng-click="search=undefined">Reset</button>
</form>
</div>
<br>
<div class="tabl">
  <table class="table table-bordered white" border="1" ng-controller="loadData" ng-controller="loadHeaderTable" >
    <tr class="blackbrd" >
      <td class="col-md-4 bold" ng-repeat="columna in columnas">{{columna.name}}</td>
      <td class="col-md-2 bold" ng-repeat="columna in columnas">{{columna.temp}}</td>
      <td class="col-md-2 bold" ng-repeat="columna in columnas">{{columna.cap}}</td>
      <td class="col-md-4 bold" ng-repeat="columna in columnas">{{columna.lnk}}</td>
    </tr>
    <tr class="table-hover" id="charRows" ng-repeat="character in chars | filter:search:strict" >
      <td>{{character.nombre}}</td>
      <td>{{character.temporada}}</td>
      <td>{{character.capitulo}}</td>
      <td>
        <a href="">Link 1</a> <a href="">Link 2</a>
      </td>
    </tr>
  </table>
</div>
