<div style="padding-top:50px;" ng-controller="loadData">
<form class="form-inline">
    <br><br><br><br><br><br><br><br>
    <label>Nombre:</label>
    <input type="text" ng-model="nombre" class="filter form-control" />
    <label>Temporada</label>
    <input type="text" ng-model="temporada" class="filter form-control" />
    <label>Capitulo</label>
    <input type="text" ng-model="capitulo" class="filter form-control" />
    <button class="btn btn-danger"  id="add" ng-click="newChar()">Add Character</button>
</form>
</div>
